*.o
*.a
*.lo
*~
.deps
compile
libtextcat.pc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
libtool
ltmain.sh
m4/ltversion.m4
src/.libs/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/createfp
src/libtextcat++.la
src/libtextcat.la
src/my_createfp
src/stamp-h1
src/testtextcat
